:root {
  --dark: #6096b4;
  --gray: #5c9eb6;
  --light: #bdcdd6;
  --contrast: #eee9da;
}

h1,
h2,
h3,
h4,
p {
  color: var(--contrast);
}

header {
  margin: 5px;
  text-align: center;
  border: solid var(--contrast);
}

body {
  margin: 10px;
  background-color: var(--dark);
}

button:hover {
  cursor: pointer;
}

.medication-list li {
  padding: 5px;
  margin: 10px;
  border: solid var(--contrast);
  background-color: var(--gray);
}

/* Login & Sign In Form Styles */

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
}

.form-input {
  margin-bottom: 15px;
}

.alert {
  margin-top: 20px;
}

.form-submit-btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
}

.form-submit-btn:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.form-submit-btn:active {
  position: relative;
  top: 1px;
}

/* Media Queries */

@media (max-width: 576px) {
  .form-container {
    max-width: 100%;
    margin: 0;
    border: none;
  }

  .form-input {
    margin-bottom: 10px;
  }

  .form-submit-btn {
    margin-top: 20px;
  }
}
