@font-face {
  font-family: 'News Cycle';
  src: url(./assets/fonts/NewsCycle-Regular.ttf);
}

@font-face {
  font-family: 'News Cycle Bold';
  src: url(./assets/fonts/NewsCycle-Bold.ttf);
}

:root {
  --dark: #6096b4;
  --gray: #5c9eb6;
  --light: #bdcdd6;
  --contrast: #eee9da;
  --darkest: #1e2f44;
  --shade: #f1f1f1;
  --accentB: #3680e0;
  --accentP: #da7b94;
}

h1,
h2,
h3,
h4,
p {
  color: var(--darkest);
}

header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: var(--accentB);
}

body {
  background-color: hsla(200, 0%, 100%, 1);
  background-image: radial-gradient(
      at 93% 92%,
      hsla(201, 100%, 85%, 0.32) 0px,
      transparent 20%
    ),
    radial-gradient(at 0% 0%, hsla(191, 95%, 84%, 1) 0px, transparent 20%),
    radial-gradient(at 53% 0%, hsla(165, 0%, 100%, 1) 0px, transparent 20%),
    radial-gradient(at 90% 19%, hsla(26, 100%, 90%, 1) 0px, transparent 20%);
}

button:hover {
  cursor: pointer;
  background-color: var(--accentB) !important;
}

a {
  text-decoration: none !important;
}

/* / header styling */

.headerImgAdj {
  max-width: 40%;
  user-select: none;
}

/* / daily styling */

.imgContain {
  text-align: center;
  margin-bottom: 40px;
}

.imgNurse {
  width: 160px;
  display: inline;
  vertical-align: top;
  float: none;
}

.dmedHeader {
  font-size: 32px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: 'News Cycle Bold';
  color: var(--accentB);
}

.dBtn {
  color: #fff !important;
  background-color: var(--accentP) !important;
  text-decoration: none !important;
  max-width: 400px;
}

.dTop {
  max-width: 400px;
  margin-left: 20px;
}

.dailyDialogue {
  margin-top: 50px;
  margin-left: -2px;
  border: none !important;
  text-align: left;
  font-size: 12px;
}

.dailyCard {
  background-color: #fff;
  max-width: 400px;
}

.dailyHeader {
  color: var(--accentB);
  font-size: 30px;
}

.dailystext {
  font-size: 17px;
  margin-bottom: 3px;
}

.dailyRemain {
  font-size: 12px;
  color: var(--gray);
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 65%;
}

.dailyCheck {
  margin-top: 45px;
  height: 35px;
  width: 35px;
}

@media only screen and (max-width: 896px) {
  .dCardMob {
    margin-left: -30px;
  }
}

/* /medicines styling */

.tab-content {
  border: solid var(--contrast);
}

.nav-item .nav-link {
  background-color: var(--light);
}
.nav-item.nav-link.active {
  background-color: var(--contrast);
}

.medicines a {
  color: white;
  text-decoration: none;
}

.medicines .tab-content {
  margin-bottom: 10px;
}

.medication-list li {
  padding: 5px;
  margin: 10px;
  border: solid var(--contrast);
  background-color: var(--gray);
}

.medication-list h3 {
  margin: auto;
}

/* /medicine:medicineId styling */

.edit-medication button {
  display: block;
  margin-left: auto;
}

.edit-medication h2 {
  margin: 10px;
}

.edit-medication a {
  color: white;
  text-decoration: none;
}

/* Login & Sign In Form Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.form-container,
.form-container-login {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-size: 36px;
}
.label-usrName::first-letter {
  font-size: 2rem;
  color: #276873;
}

.form-input {
  margin-bottom: 15px;
}

.alert {
  margin-top: 20px;
}

.form-submit-btn {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
}

.form-submit-btn:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.form-submit-btn:active {
  position: relative;
  top: 1px;
}
.title-signup {
  color: #276873;
}

.subTitle {
  font-size: 16px;
  color: #777;
  margin-top: 5px;
}

/* Media Queries */

@media (max-width: 576px) {
  .form-container {
    max-width: 100%;
    margin: 0;
    border: none;
  }

  .form-input {
    margin-bottom: 10px;
  }

  .form-submit-btn {
    margin-top: 20px;
  }
}

/* 404 page */

.error-content {
  bottom: 570px;
  font-size: 48px;
  line-height: 1.5;
  position: absolute;
  text-shadow: 0 0 6px rgb(0 0 0 / 20%);
  width: 100%;
  z-index: 60;
}

@media screen and (max-width: 767px) .error-content {
  /* bottom: 310px; */
  font-size: 18px;
}
