:root {
  --dark: #658864;
  --gray: #b7b78a;
  --contrast: #dddddd;
  --light: #eeeeee;
}

header {
  border-bottom: 10px solid var(--black, black);
  display: grid;
  grid-template-columns: auto 1 fr;

  margin: 5px;
  border: solid var(--dark);
}
