:root {
  --dark: #6096b4;
  --gray: #5c9eb6;
  --light: #bdcdd6;
  --contrast: #eee9da;

  background-color: var(--dark);
}

h1,
h2,
h3,
h4,
p {
  color: var(--contrast);
}

header {
  margin: 5px;
  text-align: center;
  border: solid var(--contrast);
}

body {
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

.medication-list li {
  padding: 5px;
  margin: 10px;
  border: solid var(--contrast);
  background-color: var(--gray);
}

/* Login & Sign In Form Styles */

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
}

.form-input {
  margin-bottom: 15px;
}

.alert {
  margin-top: 20px;
}

.form-submit-btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}
